.container {
  width: 400px;
  margin: 50px auto;
  padding: 20px;
  font-family: cursive;
  font-size: 20px;
  background-color: rgba(241, 227, 227, 0.7); /* White with 70% opacity */
  border-radius: 20px;
}
h2 {
  text-align: center;
}
.container div {
  text-align: center;
}
input {
  width: 250px;
  padding: 5px;
}
button {
  width: 70px;
  padding: 10px;
  margin: 10px;
  font-family: cursive;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.7); /* White with 70% opacity */
  color: black;
  border-radius: 10px;
}
